body {
    margin: 0px;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 954px;
    height: 594px;
    background: #F4E9CD;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
}

.card__yellow {
    width: 609px;
    height: 594px;
    background: #F4E9CD;
    padding-left: 65px;
    padding-right: 65px;
    display: flex;
    flex-direction: column;
}

.card__yellow--content {
    display: flex;
    margin-top: 65px;
    flex-direction: column;
    align-items: space-between;
}

.card__yellow--content--dateandcvv {
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.card__yellow--contentcvv {
    margin-left: 81px;
}

.card__yellow--title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    color: rgba(70, 129, 137, 0.7);
}

.ccare__yellow--title--dateandcvv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__yellow--form {
    margin-top: 21px;
    width: 104px;
    max-height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.3em;
    color: #468189;
    background: #F4E9CD;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #468189;
}

.card__yellow--formnumber {
    width: 349px;
    height: 21px;
}
 
.card__yellow--formname {
    width: 349px;
    height: 21px;
}

::placeholder {
    color: #468189;
    opacity: 1;
}

.card__button-container {
    margin-top: 56px;
    width: 202px;
    height: 48px;
    background: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.card__button-container:hover {
    background-color: #5caab4;
    transform: scale(1.1)
}

.card__button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.card__blue {
    width: 345px;
    height: 594px;
    background: #77ACA2;
    position: relative;
}

.card__blue--hiclipart1 {
    width: 405.43px;
    height: 450px;
    border: 1px solid #000000;
    box-sizing: border-box;
    position: absolute;
    left: -73px;
    bottom: 73px;
}
